@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #041f35;
  --foreground: #fffce8;
  --heading: #fff7ca;
  --links: #6bffff;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, sans-serif;
}

